body{
    width: 80%;
    margin: 0 auto;
	height: 657px;
    text-align: center;
    justify-content: center;
    background:  linear-gradient( 5.0rad, #C3C0C6, #443E47, #292929, #C3C0C6, #443E47, #292929, #C3C0C6 ); 
    
}

#Divquadrado{
    width:250px;
    height: 250px;
    background-color:black;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
    
}

#rangeRed{
    width: 500px;
}

#rangeBlue{
    width: 500px;
}

#rangeGreen{
    width: 500px;
}

